# ***Import***

In [ ]:
import numpy as np # linear algebra
import pandas as pd

In [ ]:
Fake_df = pd.read_csv('../content/drive/MyDrive/Colab Notebooks/DATA/Fake.csv')
True_df = pd.read_csv('../content/drive/MyDrive/Colab Notebooks/DATA/True.csv')
Fake_df.shape, True_df.shape

((23481, 4), (21417, 4))

# ***Data Extraction and preprocessing:***

In [ ]:
True_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [ ]:
Fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [ ]:
print("Total number of real news records : "+str(len(Fake_df)))
print("Total number of fake news records : "+str(len(True_df)))

Total number of real news records : 23481
Total number of fake news records : 21417

In [ ]:
Fake_df['target'] = 0
True_df['target'] = 1

In [ ]:
True_df.head()

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [ ]:
Fake_df.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [ ]:
# number of null values in each column
print(True_df.isna().sum(), Fake_df.isna().sum(), sep='\n\n')

title      0
text       0
subject    0
date       0
target     0
dtype: int64

title      0
text       0
subject    0
date       0
target     0
dtype: int64

In [ ]:
print (Fake_df.duplicated().sum(),True_df.duplicated().sum(), sep='\n\n')

3

206

In [ ]:
# drop duplicats rows
Fake_df.drop_duplicates(inplace=True)
True_df.drop_duplicates(inplace=True)

In [ ]:
# data merge
df = pd.concat([True_df, Fake_df], ignore_index=True, sort=False , axis = 0)
# ignore_index, sort
print("Total number of news records : "+str(len(df)))

Total number of news records : 44689

In [ ]:
df.head()

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [ ]:
#shuffle the dataframe
df = df.sample(frac = 1)
df.head()

,title,text,subject,date,target
7463,Assange says WikiLeaks not trying to influence...,LISBON (Reuters) - Wikileaks founder Julian As...,politicsNews,"November 8, 2016",1
43550,Episode #162 – SUNDAY WIRE: ‘The Revolution Wi...,Episode #162 of SUNDAY WIRE SHOW resumes this ...,US_News,"November 27, 2016",0
37871,‘PAY TO STAY’: Feds Open Fake University To Ca...,This is such a huge opportunity and the feds p...,Government News,"Apr 6, 2016",0
38158,HOW THE FBI Cracked A Terror Plot On Black Fri...,The U.S. is the great enemy of mankind! rave...,Government News,"Nov 28, 2015",0
19087,"Defying Trump, Iran says will boost missile ca...",LONDON (Reuters) - Iran will strengthen its mi...,worldnews,"September 22, 2017",1

# ***We will only consider title and target column for classification:***

In [ ]:
final_df = df.drop(['text','subject','date'],axis=1)
final_df.head()

                                                   title  target
7463   Assange says WikiLeaks not trying to influence...       1
43550  Episode #162 – SUNDAY WIRE: ‘The Revolution Wi...       0
37871  ‘PAY TO STAY’: Feds Open Fake University To Ca...       0
38158  HOW THE FBI Cracked A Terror Plot On Black Fri...       0
19087  Defying Trump, Iran says will boost missile ca...       1

In [ ]:
final_df.to_csv('../content/drive/MyDrive/Colab Notebooks/DATA/finaldata.csv')

# ***Splitting the dataframe into train and test dataset.***

In [ ]:
y = final_df['target']
X = final_df['title']

In [ ]:
type(X),type(y)

(pandas.core.series.Series, pandas.core.series.Series)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 100)

In [ ]:
X_train

12762     Panama recalls EU ambassador over tax haven list
6686     From Syria to North Korea, Tillerson would inh...
18140    Ireland moots possible special post-Brexit arr...
21970     Congressional Black Caucus: Jeff Sessions Has...
13900    Myanmar, Bangladesh ink Rohingya return deal a...
                               ...
21015    Holocaust survivor celebrates bar mitzvah in I...
22775     Trump Just FAILED Hundreds Of Manufacturing W...
12601    Malaysia's ruling party unites behind Najib as...
14021    China says opposes unilateral sanctions after ...
44600    False Flag Attack Against Cuba: A Plan Hatched...
Name: title, Length: 31282, dtype: object

# ***Vectorising the title values since ML models dont accept strings as input directly:***

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer(stop_words='english')

In [ ]:
vect.fit(X_train)

TfidfVectorizer(stop_words='english')

In [ ]:
#printing the vocabulary size.
len(vect.vocabulary_.keys())

18607

In [ ]:
X_train_trasnformed = vect.transform(X_train)
X_test_trasnformed = vect.transform(X_test)

# ***Model Building and evaluation :***

In [ ]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()

mnb.fit(X_train_trasnformed,y_train)

y_pred = mnb.predict(X_test_trasnformed)

In [ ]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.9349593495934959

In [ ]:
from sklearn.naive_bayes import BernoulliNB

bnb = BernoulliNB()

bnb.fit(X_train_trasnformed,y_train)

y_pred = bnb.predict(X_test_trasnformed)

In [ ]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.9433131945998359